@import "./mixin";

a {
  text-decoration: none;
}

header {
  height: 600px;
  background-image: url("../img/coffee-4618043_1280.jpg");
  background-size: cover;
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 20px 24px 0 0;
        a {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
  h1 {
    color: #fff;
    font-size: 84px;
    font-weight: bold;
  }
}
