@import "./mixin";

a {
  text-decoration: none;
}

header {
  height: 600px;
  background-image: url("../img/coffee-4618043_1280.jpg");
  background-size: cover;
  position: relative;
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 20px 24px 0 0;
        a {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
  h1 {
    color: #fff;
    font-size: 84px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

main {
  margin-top: 10px;
  @include pc {
    margin-top: 20px;
  }
  .menu {
    h2 {
      background-image: url("../img/coffee-2714970_1280.jpg");
      background-position: right 35% bottom 50%;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      height: 94px;
      line-height: 94px;
      color: #fff;
      @include pc {
        font-size: 72px;
        height: 300px;
        line-height: 300px;
      }
    }
    .menu-wrap {
      .sub-title {
        text-align: center;
        margin-bottom: 30px;
      }
      h3 {
        margin-top: 32px;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        border-bottom: solid;
        border-color: red;
        border-width: 5px;
      }
      .menu-text {
        margin: 0 auto;
        padding: 0 16px;
        li {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dotted;
          margin-bottom: 30px;
        }
      }
    }
  }
}
